Django==1.4.3
dogstatsd-python==0.2
path.py==3.0
pip
South==0.7.6
reportlab==2.6
requests==1.1.0
pytz==2012h
MySQL-python==1.2.5
boto==2.6.0
lxml==3.0.1
celery==3.0.19
django-celery==3.0.11
celery-with-redis==3.0
django-nose==1.1
-e git+https://github.com/edx/ease.git@5dbcad331f2c672f0a2dfe6e40e37573ca1c3052#egg=ease
