<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <script src="/static/jquery.js"></script>
    <script>
        $(document).ready(function(){
            $("input[name=save]").click(function(event){
                feedback=$("textarea[name=feedback]").first().val()
                assessment=$("select[name=assessment]").first().find(':selected').text()
                $.post("{{ajax_url}}grading_controller/instructor_grading/", {feedback : feedback, assessment : assessment}, function(data) {
                    $('div.result').html(data);
                });
            });
        });
    </script>
    {{sub_id}}
    <br/>
    {{location}}
    <br/><br/>
    {{prompt}}
    <br/><br/>
    {{text}}
    <br/><br/>

    <select name="assessment" class="assessment">
        {% for i in score_points %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
    <br/><br/>
    <textarea name="feedback" class="feedback" cols="70" rows="5">Enter feedback here.</textarea><br/><br/>
    <input type="button" value="Save" class="save-button" name="save"/>
    <div id="result"></div>
</body>
</html>